* {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 50px;
    background: #3A506B;
    text-align: center;
    color: #6FFFE9;
    font-size: 200%;
	font-weight: bold;
    font-family: Tahoma;
}

html, body {
    min-height: 100vh;
    position: relative;
    background: #5BC0BE;
}

.container {
    overflow: hidden;
    width: 100%;
}
.box {
    white-space: inherit;
}
.box div {
    margin-top: 30px;
    margin-left: 2%;
    margin-right: 2%;
    padding: 10px;
    width:250px;
    display: inline-block;
}