#btnLevel2 {
    position: relative;
    display: inline-block;
    font-size: 90%;
    font-weight: 700;
    color:  rgb(81,81,86);
    text-decoration: none;
    padding: .5em 1em;
    outline: none;
    background: rgb(201, 201, 201);
}
#btnLevel2:hover:not(:active) {
    background: rgb(182, 215, 253);
}
#btnLevel2:focus {
    top: 1px;
    background: rgb(228, 228, 228);
}


#btnLevel3 {
    position: relative;
    display: inline-block;
    font-size: 90%;
    font-weight: 700;
    color:  rgb(81,81,86);
    text-decoration: none;
    padding: .5em 1em;
    outline: none;
    background: rgb(201, 201, 201);
}
#btnLevel3:hover:not(:active) {
    background: rgb(182, 215, 253);
}
#btnLevel3:focus {
    top: 1px;
    background: rgb(228, 228, 228);
}

#btnLevel1 {
    position: relative;
    display: inline-block;
    font-size: 90%;
    font-weight: 700;
    color:  rgb(81,81,86);
    text-decoration: none;
    padding: .5em 1em;
    outline: none;
    background: rgb(201, 201, 201);
}
#btnLevel1:hover:not(:active) {
  background: rgb(182, 215, 253);
}
#btnLevel1:focus {
    top: 1px;
    background: rgb(228, 228, 228);
}


#level1-content {
    width: 218.5px;
    position: relative;
    display: inline-block;
    font-size: 90%;
    font-weight: 700;
    color:  rgb(81,81,86);
    text-decoration: none;
    padding: .5em 1em;
    outline: none;
    background: rgb(231, 231, 231);
}


#level2-content {
    width: 218.5px;
    position: relative;
    display: inline-block;
    font-size: 90%;
    font-weight: 700;
    color:  rgb(81,81,86);
    text-decoration: none;
    padding: .5em 1em;
    outline: none;
    background: rgb(231, 231, 231);
}


#level3-content {
    width: 218.5px;
    position: relative;
    display: inline-block;
    font-size: 90%;
    font-weight: 700;
    color:  rgb(81,81,86);
    text-decoration: none;
    padding: .5em 1em;
    outline: none;
    background: rgb(231, 231, 231);
}
